@import "../../styles/rwd";

.main-banner {
  background-image: url("../../assets/imgs/banner/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden;

  &-content {
    min-height: calc(100vh - 68.39px - 65.59px);
  }

  &-left {
    color: #ffffff;

    &__container {
      height: 100%;
    }
  }

  &-title {
    text-transform: uppercase;
    font-size: 72px;
  }

  &-subtitle {
    margin: 36px 0;
    font-size: 40px;
  }

  &-description {
    font-size: 35px;
  }

  &-button .button-item {
    border: none;
    border-radius: 24px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000123;
    width: 200px;
    padding: 12px 0;
    margin-top: 48px;
    transition: letter-spacing .1s;

    &:hover {
      letter-spacing: 2px;
    }
  }

  &-right {
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  @include smallScreen {
    &-content {
      min-height: calc(100vh - 61.33px - 65.59px);
    }
  }
  @include mobile {
    &-content {
      padding: 24px 0;
    }
    &-right {
      display: none;
    }
    &-title {
      font-size: 45px;
    }
    &-subtitle {
      font-size: 30px;
      margin: 24px 0;
    }
    &-description {
      font-size: 20px;
    }
  }
  @include tablet {
    &-content {
      padding: 24px 0;
    }
    &-right {
      display: none;
    }
  }
}