@import "../../styles/rwd";

.main-how {
  background-color: #9da0ef;
  overflow: hidden;

  &-subtitle {
    margin-top: 12px;

    .primary-title-content .title {
      font-size: 30px;
      @include mobile {
        font-size: 18px;
      }
    }
  }

  &-part__1 {
    margin-top: 24px;
    padding: 0 24px;
  }

  .scroll-down {
    margin: 24px 0;
  }

  @include mobile {
    &-part__1 {
      padding: 0;
    }
  }
}

.main-how-part__1 .part-1 {
  &-header {
    position: relative;
    background-color: rgba(225, 225, 225, .3);
    padding: 12px;

    .middle .content {
      font-weight: bold;
      font-size: 25px;
      line-height: 35px;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  &-sections {
    display: grid;
    width: 100%;
    height: 100%;

    &:nth-child(4) {
      grid-template-columns: 1fr;

      .section-item {
        margin-top: unset;
      }
    }

    .section-item {
      position: relative;
      width: 100%;
      min-height: 510px;
      padding-top: 60px;

      &-number, &-content {
        z-index: 1;
        position: relative;
      }

      &-number {
        position: relative;

        .number-container {
          position: absolute;
          width: 78px;
          height: 78px;
          background-color: #000000;
          border-radius: 100%;
          left: 50%;
          transform: translateX(-50%);
          top: -60px;

          .number {
            color: #C9C9C9;
            font-weight: bold;
            font-size: 40px;
            text-align: center;
          }
        }
      }

      &-content {
        padding: 30px 36px 36px;
        height: 100%;

        .content {
          color: #ffffff;
          font-size: 25px;
          text-align: justify;
          line-height: 35px;
        }
      }
    }
  }

  @include mobile {
    &-header {
      width: 100%;
    }
    &-sections {
      grid-template-columns: 1fr;
      height: unset;

      &:nth-child(3) .section-item:nth-child(1) {
        order: 2;
      }

      &:nth-child(4) {
        .section-item {
          margin-top: 24px;
        }
      }

      .section-item {
        justify-content: center !important;
        margin-top: 24px;

        &-container {
          width: 100%;
          min-height: 400px;
          background-image: unset;
          background-color: #c9c9c9;
          border-radius: 12px;
        }

        &-content {
          padding: 30px 36px 36px 20px;
        }

        .top-arrow, .bottom-arrow, .arrow-item {
          display: none;
        }
      }
    }
  }
  @include tablet {
    &-header {
      width: 100%;
    }
    &-sections {
      grid-template-columns: 1fr;

      &:nth-child(3) .section-item:nth-child(1) {
        order: 2;
      }

      &:nth-child(4) {
        .section-item {
          margin-top: 24px;
        }
      }

      .section-item {
        justify-content: center !important;
        margin-top: 24px;

        &-container {
          width: 100%;
          min-height: 400px;
          background-image: unset;
          background-color: #c9c9c9;
          border-radius: 12px;
        }

        .top-arrow, .bottom-arrow, .arrow-item {
          display: none;
        }
      }
    }
  }
  @include desktop {
    &-header {
      width: 100%;
    }
    &-sections {
      grid-template-columns: 1fr;

      &:nth-child(3) .section-item:nth-child(1) {
        order: 2;
      }

      &:nth-child(4) {
        .section-item {
          margin-top: 24px;
        }
      }

      .section-item {
        justify-content: center !important;
        margin-top: 24px;

        &-container {
          width: 100%;
          min-height: 400px;
          background-image: unset;
          background-color: #c9c9c9;
          border-radius: 12px;
        }

        .top-arrow, .bottom-arrow, .arrow-item {
          display: none;
        }
      }
    }
  }
  @include wide-desktop {
    &-header {
      width: 750px;
    }
    &-sections {
      grid-template-columns: repeat(2, 1fr);

      &:nth-child(3) .section-item:nth-child(1) {
        order: unset;
      }

      .section-item {
        margin-top: 100px;
        padding-top: 60px;

        &-container {
          width: 440px;
          min-height: 100%;
          background: url("../../assets/shapes/howItemShape.png") no-repeat center;
          background-size: 100% 100%;
          position: relative;
        }

        .top-arrow {
          display: unset;
          position: absolute;
          top: -160px;

          &.top-left-arrow {
            left: 45%;
            transform: translateX(-45%);

            .arrow-item {
              transform: rotate(100deg) scaleY(-1);
            }
          }

          &.top-right-arrow {
            left: 30%;
            transform: translateX(-30%);

            .arrow-item {
              transform: rotate(75deg);
            }
          }
        }

        .bottom-arrow {
          display: unset;
          position: absolute;
          top: -50px;
          width: 150px;

          &.bottom-left-arrow {
            left: -150px;

            .arrow-item {
              transform: rotate(45deg) scaleY(-1);
            }
          }

          &.bottom-right-arrow {
            right: -50px;

            .arrow-item {
              transform: rotate(135deg);
            }
          }
        }

        .arrow-item {
          display: block;
          width: 100px;
          position: absolute;
          bottom: -100px;
          left: 50%;
          transform: translateX(-50%);

          img {
            width: 100%;
          }

          .left-arrow {
            transform: rotate(85deg) scaleY(-1);
          }

          .right-arrow {
            transform: rotate(95deg);
          }
        }
      }
    }
  }
}

.main-how-section__2 {
  .part-1-sections:nth-child(4) {
    .section-item-content {
      padding: 30px 50px 36px;
    }
  }

  @include mobile {
    .part-1-sections:nth-child(4) {
      .section-item {
        margin-top: 24px;
      }

      .section-item-container {
        width: 100% !important;
      }

      .section-item-content {
        padding: 30px 36px 36px 20px;
      }
    }
  }
  @include tablet {
    .part-1-sections:nth-child(4) {
      .section-item {
        margin-top: 24px;
      }

      .section-item-container {
        width: 100% !important;
      }
    }
  }
  @include desktop {
    .part-1-sections:nth-child(4) {
      .section-item {
        margin-top: 24px;
      }

      .section-item-container {
        width: 100% !important;
      }
    }
  }
  @include wide-desktop {
    .part-1-sections:nth-child(4) {
      .section-item-container {
        width: 600px !important;
      }
    }
  }
}