@import "../../styles/rwd";

.primary-title {
  &-content {
    z-index: 1;
    background-image: url("../../assets/shapes/titleShape.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100% 100%;
    width: 700px;
    height: 80px;
    padding: 12px 0 7px 70px;

    .title {
      z-index: 1;
      font-size: 45px;
      color: #000000;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }
  }

  @include mobile {
    padding-right: 0 !important;
    padding-left: 0 !important;
    &-content {
      width: 100%;
      min-height: 50px;
      padding: 12px 0 7px 25px;

      .title {
        font-size: 25px;
      }
    }
  }
}