@import "../../styles/rwd";
//Colors
$black: #34435E;
$white: #ffffff;

.main-roadmap {
  overflow: hidden;
  position: relative;
  background-color: #835AD8;

  &-container {
    padding: 24px 0 !important;
  }
}

.main-roadmap-item {
  width: 90% !important;
  border: 3px dashed #414141;
  position: relative;
  counter-increment: section;
  border-radius: 24px;
  padding: 24px 37px !important;

  &:not(:first-child) {
    margin-top: 24px;
  }

  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 100%;
    padding: 12px;
    height: 50px;
    width: 50px;
    background-color: $black;
    text-align: center;
    line-height: 1.25em;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
  }

  .item-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 12px;
  }

  .item-desc {
    font-size: 25px;
    text-align: center;
  }

  @include mobile {
    padding: 12px !important;
    &:before {
      content: none;
    }
  }
  @include wide-desktop {
    border: unset;
    border-top: 3px dashed;
    border-color: #414141 !important;
    margin: 0;
    padding: 30px;
    border-radius: unset;
    &:not(:first-child) {
      margin-top: unset;
    }
    &:nth-child(even) {
      border-left: 3px dashed;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin-right: 30px;
      padding-right: 0;
      padding-left: 30px;

      &:before {
        right: 100%;
        margin-right: -20px;
      }
    }
    &:nth-child(odd) {
      border-right: 3px dashed;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-left: 30px;
      padding-left: 0;
      padding-right: 30px;

      &:before {
        left: 100%;
        margin-left: -20px;
      }
    }
    &:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}