@import "../../styles/rwd";

.main-investment {
  overflow: hidden;
  position: relative;

  .left-side-img {
    position: absolute;
    width: 50%;
    height: 100%;
    left: -10%;
    top: -20%;
    transform: rotate(-60deg) scale(2);
  }

  &-container {
    padding: 24px 0 !important;
  }

  &-left, &-right {
    z-index: 1;
  }

  &-description {
    color: #ffffff;
    font-size: 35px;
    line-height: 45px;
  }

  &-right img {
    width: 100%;
  }

  @include mobile {
    .left-side-img {
      left: 0;
      top: 0;
      width: 100%;
      transform: rotate(-60deg) scale(10);
    }
    &-description {
      font-size: 23px;
      text-align: center;
      line-height: 33px;
      padding-right: 12px;
      padding-left: 12px;
    }
    &-right {
      margin-top: 24px !important;
    }
  }
}